:root {
	--bg-color: #e5e5e5;
	--yllow-clr: #fdcd0b;
	--product-head-clr: #1a202c;
	--txt-clr: #969696;
	--icon-clr: #4a5568;
	--border-clr: #ebebeb;
	--blue-clr: #0065db;
	--heading-clr: #1a202c;
	--light-green: #9ae6b4;
	--dark-green: #2f855a;
	--light-border: #e2e2e2;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* @font-face {
	font-family: 'San Francisco';
	font-weight: 200;
	src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff');
} */

body {
	@font-face {
		font-family: 'San Francisco';
		font-weight: 200;
		src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff');
	}

	font-size: 18px;
	line-height: 22px;
	background-color: #fff;
}

h1 {
	font-size: 100px;
	font-weight: 700;
	line-height: 120px;
	letter-spacing: 4%;
}

h2 {
	font-size: 50px;
	font-weight: 300;
	line-height: 60px;
	color: #fff;
}

/* HEADER */

#header {
	padding: 10px;
	min-height: 90px;
}

.logo a {
	font-weight: 700;
	font-size: 30px;
	color: #000;
	line-height: 35px;
}

input[type='text'],
textarea {
	outline: none;
	box-shadow: none !important;
	border: 1px solid var(--border-clr) !important;
	width: 100%;
	height: 40px;
}

#search {
	height: 64px;
	max-width: 1000px;
	border-radius: 40px;
}

#search-form {
	width: 100%;
	position: relative;
}

.search-icon {
	position: absolute;
	font-family: 'Font Awesome 5 Free';
	width: 25px;
	height: 25px;
	font-weight: 900;
	top: 50%;
	right: 70px;
	transform: translateY(-50%);
}

.search-icon::before {
	content: '\f002';
	color: #3c366b;
	font-size: 22px;
}

#lang {
	border: none;
	outline: 0 !important;
	background-color: #fff;
	width: 60px;
}

#lang option:hover {
	background-color: #fff;
}

.shopping-bag {
	position: relative;
}

#cart-items-wrapper {
	position: absolute;
	width: 600px;
	min-height: 400px;
	background-color: rgb(202, 202, 202);
	border-radius: 5px;
	top: 40px;
	right: 0;
	transition: all 0.5s ease-in;
}

#total-items {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: var(--dark-green);
	border: 1px solid var(--light-green);
	border-radius: 50%;
	font-size: 14px;
	width: 22px;
	height: 22px;
	bottom: 5px;
	right: -5px;
	font-weight: 500;
	cursor: pointer;
}

.shopping-bag i,
.profile i {
	color: var(--icon-clr);
	align-self: center;
	font-size: 1.7rem;
}

.cart-item {
	width: 45%;
}

.cart-price {
	width: 20%;
}

.cart-quantity {
	width: 35%;
}

.cart-column {
	border-bottom: 1px solid var(--product-head-clr);
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.cart-quantity-input {
	width: 40px;
	height: 30px;
}

.btn-remove {
	outline: none;
	border: none;
	height: 30px;
	width: 80px;
	border-radius: 5px;
	background-color: #ff0000;
	color: #fff;
}

.visible {
	display: none;
}

/* HERO SECTION */

#hero-section {
	background-color: var(--yllow-clr);
	max-width: 1819px;
	min-height: 555px;
}

#hero-left-section h1 {
	margin-bottom: 2rem;
	margin-top: 0;
}

#hero-left-section h2 {
	transform: translateY(50%);
}

.associate-brands {
	max-width: 70%;
}

.associate-brands img {
	width: 100%;
	height: 100%;
}

/* MAIN CONTENT */

#main-content {
	max-width: 1820px;
}

.single-product {
	background-color: #fff;
	border: 1px solid var(--border-clr);
	border-radius: 10px;
	max-width: 420px;
}
.product-title {
	color: var(--heading-clr);
	font-size: 1.22rem;
	font-weight: 600;
	text-transform: uppercase;
}

.reviews-star i,
.rating {
	color: #f6ad55;
	font-size: 16px;
	margin-bottom: 0;
}

.reviews {
	font-size: 16px;
	line-height: 19px;
	color: #a0aec0;
	margin-left: 5px;
	margin-bottom: 0;
}

.reviews-icon {
	color: #7f9cf5;
	font-size: 26px;
}

.product-char {
	font-size: 16px;
	color: #969696;
}

.product-char i {
	color: #241b55;
	font-size: 26px;
}

.product-price span {
	font-size: 28px;
	color: var(--product-head-clr);
	font-weight: 700;
}

.product-price i {
	color: #241b55;
	cursor: pointer;
	font-size: 26px;
}

#filter-wrapper {
	border: 1px solid var(--border-clr);
	border-radius: 20px 20px 0 0;
	min-height: 600px;
	width: 80%;
}

#filter-heading {
	background-color: var(--blue-clr);
	border-radius: 20px 20px 0 0;
}

#filter-heading h3 {
	font-size: 1.44rem;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
}

#reset-btn {
	border: 1px solid #fff;
	background: transparent;
	outline: none;
	width: 100px;
	height: 48px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: 400;
}

#amount {
	color: var(--blue-clr);
	border: none !important;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

#filter-price h3 {
	font-size: 20px;
	font-weight: 400;
	color: #000;
	margin: 0;
}
#filter-product h3 {
	font-size: 20px;
	font-weight: 400;
	color: #000;
	margin: 0;
}
#filter-color h3 {
	font-size: 20px;
	font-weight: 400;
	color: #000;
	margin: 0;
}

.categories {
	padding: 20px;
	background-color: #faf8f8;
	border-bottom: 1px solid #e2e2e2;
}

.price-range {
	padding: 20px;
}

.price-range label {
	font-size: 18px;
	font-weight: 400;
}

#slider-range {
	width: 75%;
	margin: 0 auto;
	/* background-color: var(--product-head-clr); */
	border: none;
}

.ui-slider-range {
	background-color: var(--product-head-clr) !important;
}
.ui-slider,
.ui-slider-handle {
	border-radius: 50% !important;
	background-color: var(--product-head-clr) !important;
	border: none !important;
}

.ui-slider-horizontal {
	height: 8px;
}

.color-pick {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#selected-colors h6 {
	font-size: 20px;
	font-weight: 600;
}

.picked-colors p {
	text-transform: capitalize !important;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 400;
}

.fa-times {
	border: 1px solid #cbcbcb;
	width: 24px;
	height: 24px;
	text-align: center;
	padding: 1px;
	font-size: 16px;
	border-radius: 3px;
}

.clr-blck {
	background-color: #212121;
}
.clr-red {
	background-color: #ef3030;
}

.clr-blue {
	background-color: #3940f2;
}

.clr-yellow {
	background-color: #fff73d;
}

.clr-green {
	background-color: #5cea95;
}

.clr-white {
	background-color: rgb(255, 255, 255);
	border: 1px solid #000;
}

.clr-grey {
	background-color: #c3c3c3;
}

.clr-orange {
	background-color: #ff8d3b;
}

.color-pick {
	position: relative;
}

.icon-check {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

/* FOOTER */

.autoplay div {
	min-height: 100px;
	display: flex !important;
	/* align-items: center !important;
	justify-content: center; */
}

.slick-arrow {
	min-width: 50px !important;
	height: 50px !important;
	background: transparent;
	border-radius: 50%;
	outline: none;
	border: 1px solid #000;
}

#slider {
	height: 50px !important;
}

.slick-slide {
	height: 100px;
	width: auto;
}

footer {
	max-height: 100px;
	border-top: 1px solid var(--border-clr);
}

.footer-image-wrapper {
	max-height: 100px;
}

#more-brands {
	background-color: #0065db;
	border-top-right-radius: 30px;
	color: #fff;
	height: 100px;
}
#more-brands p {
	font-size: 28px;
	font-weight: 700;
	line-height: 22px;
}
